[user]
	name = Andrzej Pragacz
	email = andrzej.pragacz@10clouds.com
[alias]
	ci = commit
	co = checkout
	st = status
	df = diff
    l = log
	pre = pull --rebase
	contains = branch --contains
	rcontains = branch -r --contains
	praise = blame
	wtf = blame
