[user]
	name = Andrzej Pragacz
	email = apragacz@o2.pl
[alias]
	wl = jira-worklog
	ci = jira-worklog commit
	co = checkout
	st = status
	df = diff
	l = log
	pre = pull --rebase
	contains = branch --contains
	rcontains = branch -r --contains
	praise = blame
	wtf = blame
