[user]
    name = Andrzej Pragacz
    email = {{ email }}
[alias]
    wl = jira-worklog
    ci = jira-worklog commit
    st = status
    sw = switch
    df = diff
    l = log
    pushf = push --force-with-lease
    pre = pull --rebase
    contains = branch --contains
    rcontains = branch -r --contains
    praise = blame
    wtf = blame
